<p id="notice"><%= notice %></p>
<h4 class="center title">Title: <%= @article.title %></h4>
	
<div class="well col-xs-8 col-xs-offset-2">
	
	<h4 class="center description">
		<strong>
			Description:
		</strong>
	</h4>
	<br>
	<%= @article.description %>




<div class="article-art">
	<%= link_to 'Edit this article', edit_article_path(@article), class: "label label-primary" %> |
	<%= link_to 'Delete this Article', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger" %> |
	<%= link_to 'Back to articles list', articles_path, class: "label label-success"%>
	
</div>

<a> share: <%= social_share_button_tag(@article.title, :url => "http://sample-app.dev/articles/1") %></a>
</div>


