<h1 align= "center"> All Users</h1>
<%= will_paginate %>
<div align= "center">
	<% @users.each do |user| %>
		<ul class= "listing">
			<div class= "row">
				<div class= "well col-md-4 col-md-offset-4">
					<ul><%= link_to image_tag(user.image.url(:thumb))%></ul>
					<ul> <%= link_to user.first_name, user %></ul>
					<ul><small><%= pluralize(user.articles.count, "article") if user.articles %></small>
					</ul>
				</div>
			</div>
		</ul>
	<% end %>
</div>
<%= will_paginate %>