<div class="container">
	<footer class="footer">
		<small>
			Copyrights &copy;2016, All Rights Reseved  by <a href="https://www.facebook.com/adel.almaleh2">Adel Almaleh</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", welcome_about_path %></li>
				<li><%= link_to "Articles", articles_path %></li>
				<li><%= link_to "New article", new_article_path %></li>
				<li><%= link_to "Terms", '#' %></li>
				<li><%= link_to "Privacy", '#' %></li>
				<li><%= link_to "Support", '#' %></li>
			</ul>
		</nav>
	</footer>
</div>